
<img src="./assets/img/pricing/Background2.png" alt="" class="absolute w-full h-full">
<img src="./assets/img/pricing/Background.png" alt="" class="absolute w-full h-full">
<div class="px-4 py-8 md:px-6 lg:px-8">
    
    <section class="princing-header relative">
        <h5 class="font-medium text-xs mb-4 text-center" [ngStyle]="{color:'#DEE1FD'}">PRICING PLANS</h5>
        <h1 class="font-bold text-3xl mb-4 text-center"  [ngStyle]="{color:'white'}">Get the Best Option Now</h1>
        <div class=" flex justify-content-center">
            <h4 class="col-6 text-lg font-normal mb-6 text-center" [ngStyle]="{color:'#DEE1FD'}">The informative, and brief subheading that builds the interest around the created product. The copy encourages user to discover it.</h4>
        </div>
    </section>

    <main class="grid relative">


    </main>
</div>